
.header-container h1{
  margin: 0;
}

.header-container .header {
  background-image: url("https://raw.githubusercontent.com/flolgl/essarj/master/img/background/background-1.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  position: relative;
}

.header-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header-container {
  height: 28vh;
  color: #FFFFFF;
}

.breadcrumbs-container {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 1rem;
}

.breadcrumbs-container .breadcrumbs-previous, .breadcrumbs-container .breadcrumbs-divider {
  opacity: 0.5;
  text-decoration: none;
  color: #FFFFFF;
  transition: opacity 250ms ease;
}

.breadcrumbs-container .breadcrumbs-previous:hover{
  opacity: 1;
}
